{% extends 'pages/index.html' %}
{% load static %}
{% block content %}

<h2>TOP SELLING PRODUCTS</h2>
<link rel="stylesheet" type="text/css" href="{% static 'css/homepagestyle.css' %}">
<table class="product-table">
    <table class="product-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>

            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>${{ product.price }}</td>

            </tr>
            {% endfor %}
        </tbody>
    </table>





    {% endblock %}
